<%- include('../../partials/admin/header'); %>

<div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>Banner</strong> <small>Show</small>
      </div>
      <div class="card-body">
          <table class="table table-bordered">
              <tr>
                  <th>Title</th>
                  <td>Ncell Ncell</td>
              </tr>    <tr>
                  <th>Url</th>
                  <td>http://123.test.com</td>
              </tr>    <tr>
                  <th>Image</th>
                  <td>
                    <img class="img-thumbnail" src="https://coreui.io/demo/3.2.0/assets/img/avatars/6.jpg" alt="">
                  </td>
              </tr>    
              <tr>
                  <td colspan="2">
                      <a href="/banners" class="d-block text-center">
                          go back
                      </a>
                  </td>
              </tr>
          </table>
      </div>
    </div>
  </div>
</div>

<%- include('../../partials/admin/footer'); %>
